{% extends 'base.html' %}
{% load static %}

{% block title %}WeWeb - Páginas Web a tu Medida{% endblock %}

{% block content %}
{% load custom_filters %}

<!-- Sección 1: Hero con Imagen Publicitaria -->
<section class="hero-section">
  <!-- Right Content -->
  <div class="hero-content">
    <h1 class="hero-title">Páginas web a tu medida</h1>
    <p class="hero-description">Lleva tu proyecto al siguiente nivel con nuestros servicios personalizados.</p>
    <a href="#planes" class="hero-button">Revisa nuestros planes</a>
  </div>
</section>

  <!-- Sección 1.5: Sobre Nosotros -->
  <section id="about-section" class="about-section py-5" style="background-color: #16161A; color: #FFFFFE;">
    <div class="container">
      <div class="row">
        <!-- Texto -->
        <div class="col-md-12 text-left" data-animation="fade-right">
          <h2 class="fw-bold">Sobre Nosotros</h2>
          <p class="mt-3">
            Somos un equipo interdisciplinario comprometido y especializado<br>en diseñar y levantar negocios exitosos. No solo creamos páginas web, <br>también ofrecemos soluciones integrales que abarcan desde<br> el diseño legal hasta el marketing comercial.
          </p>
          <p class="mt-3">
            Nuestro objetivo es convertir tus ideas en realidades tangibles<br> y llevar tu negocio al siguiente nivel, combinando creatividad, estrategia y tecnología.
          </p>
        </div>
      </div>
    </div>
  </section>


<div class="discount-section text-center mt-5">
    <h4>Introduce tu Código de Descuento</h4>
    <input type="text" id="codigo-descuento-input" class="form-control w-25 mx-auto" placeholder="Ingresa tu código de descuento">
    <button type="button" id="btn-aplicar-descuento" class="btn btn-primary mt-3">Aplicar Código</button>
    <p id="mensaje-descuento" class="mt-4" style="display: none;"></p>
</div>

<script>
    document.getElementById('btn-aplicar-descuento').addEventListener('click', function() {
        const codigoDescuento = document.getElementById('codigo-descuento-input').value.trim();

        if (codigoDescuento) {
            // Llamada para validar el código de descuento
            fetch('{% url "validar_codigo_descuento" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                },
                body: JSON.stringify({ codigo: codigoDescuento }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('mensaje-descuento').style.display = 'block';
                    document.getElementById('mensaje-descuento').innerHTML = `Has desbloqueado un descuento del ${data.plan_nombre}`;
                    
                    // Redireccionar a contratación con el plan desbloqueado
                    window.location.href = `/contratacion/?plan_id=${data.plan_id}`;
                } else {
                    document.getElementById('mensaje-descuento').style.display = 'block';
                    document.getElementById('mensaje-descuento').innerHTML = 'Código de descuento inválido. Por favor, intenta nuevamente.';
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Hubo un error al intentar validar el código de descuento. Por favor, intenta nuevamente.');
            });
        } else {
            alert('Por favor ingresa un código de descuento.');
        }
    });
</script>

  <!-- Sección 2: planes -->
<section id="planes" class="plans-section">
  {% for plan in planes %}
    {% if plan.nombre != "Plan De Medios" %}
      <div class="plan-card">
        <h3 class="plan-title">{{ plan.nombre }}</h3>
        <p class="plan-price">${{ plan.precio|formato_cl }}</p>
        <p class="plan-anual">${{ plan.precio_anual|formato_cl }} / Anual</p>
        <p class="plan-warn">(Después de un año GRATIS)</p>
        <ul class="plan-features">
            {% if plan.nombre == "Plan S" %}
                <li>Diseño web estándar</li>
                <li>Hosting 500MB incluido</li>
                <li>Certificado SSL</li>
            {% elif plan.nombre == "Plan M" %}
                <li>Diseño web personalizado</li>
                <li>Hosting 1GB incluido</li>
                <li>Certificado SSL</li>
            {% elif plan.nombre == "Plan XL" %}
                <li>Diseño web avanzado</li>
                <li>Hosting 5GB incluido</li>
                <li>Certificado SSL</li>
            {% endif %}
        </ul>
        <a href="{% url 'seleccionar_plan' plan.id %}" class="plan-button">Elige este plan</a>
      </div>
    {% endif %}
  {% endfor %}
</section>

<!-- Sección 2.1: Medios -->
<section id="medios-plan" class="medios-plan">
  <h4 class="medios-title">¡Automatiza tu marketing!</h4>
  {% for plan in planes %}
    {% if plan.nombre == "Plan De Medios" %}
      <div class="medios-card">
        <h3 class="mediosplan-title">{{ plan.nombre }}</h3>
        <p class="medios-price">${{ plan.precio|formato_cl }} / Mensual</p>
        <p class="medios-desc">Nuestro plan de medios es la solución perfecta para que puedas relajarte y dejar el alcance de tu redes sociales y comunidad en manos de nuestra boutique de marketing. También te ofrecemos asesoria y búsqueda de soluciones en materia de publicidad y marketing. ¡Usamos la más finas tecnologías y habilidades de ciencia de datos!</p>
        <a href="{% url 'seleccionar_plan' plan.id %}" class="plan-button">¡Lo necesito!</a>
      </div>
    {% endif %}
  {% endfor %}
</section>

<!-- Sección 2.5: features -->
<section class="features-section">
  <h2 class="section-title">Todos los planes de página web incluyen</h2>
  <div class="feature-card">
    <i class="bi bi-tools feature-icon"></i>
    <div>
      <h5 class="feature-title">Panel autoadministrable</h5>
      <p class="feature-description">Gestiona y actualiza tu página web de manera fácil y rápida.</p>
    </div>
  </div>
  <div class="feature-card">
    <i class="bi bi-shield-lock feature-icon"></i>
    <div>
      <h5 class="feature-title">Certificado de Seguridad SSL</h5>
      <p class="feature-description">Navegación segura para ti y tus visitantes con SSL para todas tus páginas.</p>
    </div>
  </div>
  <div class="feature-card">
    <i class="bi bi-credit-card feature-icon"></i>
    <div>
      <h5 class="feature-title">Medios de pago</h5>
      <p class="feature-description">Incluye Webpay Plus, Mercado Pago, Servipag, Khipu, entre otros.</p>
    </div>
  </div>
  <div class="feature-card">
    <i class="bi bi-phone feature-icon"></i>
    <div>
      <h5 class="feature-title">Versión móvil</h5>
      <p class="feature-description">Diseño web adaptable para dispositivos móviles, tablets y PC.</p>
    </div>
  </div>
  <div class="feature-card">
    <i class="bi bi-file-earmark-text feature-icon"></i>
    <div>
      <h5 class="feature-title">Redacción de contenidos</h5>
      <p class="feature-description">Si no tienes los textos para tu web, nosotros los redactamos por ti.</p>
    </div>
  </div>
  <div class="feature-card">
    <i class="bi bi-cart feature-icon"></i>
    <div>
      <h5 class="feature-title">Carro de compras</h5>
      <p class="feature-description">Permite a los usuarios comprar en tu web de manera segura y sencilla.</p>
    </div>
  </div>
</section>

{% endblock %}